-- Migração 01: Estrutura inicial do COMPIA para PostgreSQL
-- Conversão de SQLite para PostgreSQL

-- Enable necessary extensions
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Users table with PostgreSQL adaptations
CREATE TABLE users (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  email TEXT NOT NULL UNIQUE,
  name TEXT,
  role TEXT DEFAULT 'inspector' CHECK (role IN ('inspector', 'manager', 'org_admin', 'sys_admin', 'system_admin')),
  can_manage_users BOOLEAN DEFAULT false,
  can_create_organizations BOOLEAN DEFAULT false,
  is_active BOOLEAN DEFAULT true,
  organization_id INTEGER,
  managed_organization_id INTEGER,
  phone TEXT,
  avatar_url TEXT,
  last_login_at TIMESTAMPTZ,
  password_hash TEXT,
  email_verified_at TIMESTAMPTZ,
  profile_completed BOOLEAN DEFAULT false,
  invitation_token TEXT,
  invited_by TEXT,
  invitation_expires_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- Organizations table
CREATE TABLE organizations (
  id SERIAL PRIMARY KEY,
  name TEXT NOT NULL,
  razao_social TEXT,
  nome_fantasia TEXT,
  cnpj TEXT,
  type TEXT,
  contact_email TEXT,
  contact_phone TEXT,
  address TEXT,
  is_active BOOLEAN DEFAULT true,
  parent_organization_id INTEGER,
  organization_level TEXT DEFAULT 'company' CHECK (organization_level IN ('master', 'company', 'subsidiary')),
  subscription_status TEXT DEFAULT 'active' CHECK (subscription_status IN ('active', 'suspended', 'trial')),
  subscription_plan TEXT DEFAULT 'basic' CHECK (subscription_plan IN ('basic', 'pro', 'enterprise')),
  max_users INTEGER DEFAULT 50,
  max_subsidiaries INTEGER DEFAULT 0,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);
