-- Migração 02: Tabelas de inspeções e checklists

-- Inspections table
CREATE TABLE inspections (
  id SERIAL PRIMARY KEY,
  title TEXT NOT NULL,
  description TEXT,
  location TEXT,
  inspector_name TEXT,
  inspector_email TEXT,
  company_name TEXT,
  cep TEXT,
  address TEXT,
  latitude REAL,
  longitude REAL,
  scheduled_date DATE,
  completed_date DATE,
  status TEXT DEFAULT 'pendente' CHECK (status IN ('pendente', 'em_andamento', 'concluida', 'cancelada')),
  priority TEXT DEFAULT 'media' CHECK (priority IN ('baixa', 'media', 'alta', 'critica')),
  created_by UUID REFERENCES users(id),
  organization_id INTEGER REFERENCES organizations(id),
  responsible_name TEXT,
  responsible_email TEXT,
  inspector_signature TEXT,
  responsible_signature TEXT,
  action_plan TEXT,
  action_plan_type TEXT,
  ai_assistant_id TEXT,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- Checklist templates
CREATE TABLE checklist_templates (
  id SERIAL PRIMARY KEY,
  name TEXT NOT NULL,
  description TEXT,
  category TEXT,
  created_by TEXT,
  created_by_user_id UUID REFERENCES users(id),
  organization_id INTEGER REFERENCES organizations(id),
  is_public BOOLEAN DEFAULT false,
  is_category_folder BOOLEAN DEFAULT false,
  folder_color TEXT,
  folder_icon TEXT,
  parent_category_id INTEGER,
  folder_id INTEGER,
  display_order INTEGER DEFAULT 0,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);
