-- Migração 04: Mídia, convites e audit log

-- Inspection media
CREATE TABLE inspection_media (
  id SERIAL PRIMARY KEY,
  inspection_id INTEGER NOT NULL REFERENCES inspections(id) ON DELETE CASCADE,
  inspection_item_id INTEGER REFERENCES inspection_items(id),
  media_type TEXT NOT NULL CHECK (media_type IN ('image', 'video', 'audio', 'document')),
  file_name TEXT,
  file_url TEXT,
  file_size INTEGER,
  mime_type TEXT,
  description TEXT,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- User invitations
CREATE TABLE user_invitations (
  id SERIAL PRIMARY KEY,
  email TEXT NOT NULL,
  organization_id INTEGER NOT NULL REFERENCES organizations(id),
  role TEXT NOT NULL CHECK (role IN ('inspector', 'manager', 'org_admin')),
  invited_by TEXT NOT NULL,
  invitation_token TEXT UNIQUE NOT NULL,
  expires_at TIMESTAMPTZ NOT NULL,
  accepted_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- Activity log for audit trail
CREATE TABLE activity_log (
  id SERIAL PRIMARY KEY,
  user_id UUID NOT NULL REFERENCES users(id),
  organization_id INTEGER REFERENCES organizations(id),
  action_type TEXT NOT NULL,
  action_description TEXT,
  target_type TEXT,
  target_id TEXT,
  metadata TEXT, -- JSON
  ip_address TEXT,
  user_agent TEXT,
  created_at TIMESTAMPTZ DEFAULT now()
);
