-- Migração 03: Campos de checklist e itens de inspeção

-- Checklist fields
CREATE TABLE checklist_fields (
  id SERIAL PRIMARY KEY,
  template_id INTEGER NOT NULL REFERENCES checklist_templates(id) ON DELETE CASCADE,
  field_name TEXT NOT NULL,
  field_type TEXT NOT NULL CHECK (field_type IN ('text', 'textarea', 'select', 'multiselect', 'checkbox', 'radio', 'number', 'date', 'file')),
  is_required BOOLEAN DEFAULT false,
  options TEXT, -- JSON string for select/radio options
  order_index INTEGER DEFAULT 0,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- Inspection items
CREATE TABLE inspection_items (
  id SERIAL PRIMARY KEY,
  inspection_id INTEGER NOT NULL REFERENCES inspections(id) ON DELETE CASCADE,
  category TEXT,
  item_description TEXT,
  is_compliant BOOLEAN,
  observations TEXT,
  photo_url TEXT,
  template_id INTEGER REFERENCES checklist_templates(id),
  field_responses TEXT, -- JSON string
  ai_pre_analysis TEXT,
  ai_action_plan TEXT,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- Action items
CREATE TABLE action_items (
  id SERIAL PRIMARY KEY,
  inspection_id INTEGER NOT NULL REFERENCES inspections(id) ON DELETE CASCADE,
  inspection_item_id INTEGER REFERENCES inspection_items(id),
  title TEXT NOT NULL,
  what_description TEXT,
  where_location TEXT,
  why_reason TEXT,
  how_method TEXT,
  who_responsible TEXT,
  when_deadline DATE,
  how_much_cost TEXT,
  status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed', 'cancelled')),
  priority TEXT DEFAULT 'media' CHECK (priority IN ('baixa', 'media', 'alta', 'critica')),
  is_ai_generated BOOLEAN DEFAULT false,
  assigned_to TEXT,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);
