-- Migração 05: Índices para performance

-- User indexes
CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_users_organization ON users(organization_id);
CREATE INDEX idx_users_role ON users(role);

-- Organization indexes
CREATE INDEX idx_organizations_parent ON organizations(parent_organization_id);
CREATE INDEX idx_organizations_level ON organizations(organization_level);

-- Inspection indexes
CREATE INDEX idx_inspections_created_by ON inspections(created_by);
CREATE INDEX idx_inspections_organization ON inspections(organization_id);
CREATE INDEX idx_inspections_status ON inspections(status);
CREATE INDEX idx_inspections_date ON inspections(scheduled_date);

-- Checklist indexes
CREATE INDEX idx_checklist_fields_template ON checklist_fields(template_id);
CREATE INDEX idx_checklist_templates_organization ON checklist_templates(organization_id);

-- Inspection items indexes
CREATE INDEX idx_inspection_items_inspection ON inspection_items(inspection_id);
CREATE INDEX idx_inspection_items_template ON inspection_items(template_id);

-- Action items indexes
CREATE INDEX idx_action_items_inspection ON action_items(inspection_id);
CREATE INDEX idx_action_items_status ON action_items(status);

-- Media indexes
CREATE INDEX idx_inspection_media_inspection ON inspection_media(inspection_id);
CREATE INDEX idx_inspection_media_item ON inspection_media(inspection_item_id);

-- Activity log indexes
CREATE INDEX idx_activity_log_user ON activity_log(user_id);
CREATE INDEX idx_activity_log_organization ON activity_log(organization_id);
CREATE INDEX idx_activity_log_created_at ON activity_log(created_at);
