-- Migração 07: RLS Policies para Inspeções e Checklists

-- Inspections policies
CREATE POLICY "Users can view inspections in their organization" ON inspections
  FOR SELECT USING (
    organization_id IN (
      SELECT organization_id FROM users 
      WHERE id = auth.uid()
    )
  );

CREATE POLICY "System admins can view all inspections" ON inspections
  FOR SELECT USING (
    EXISTS (
      SELECT 1 FROM users u 
      WHERE u.id = auth.uid() 
      AND u.role IN ('sys_admin', 'system_admin')
    )
  );

CREATE POLICY "Users can create inspections in their organization" ON inspections
  FOR INSERT WITH CHECK (
    organization_id IN (
      SELECT organization_id FROM users 
      WHERE id = auth.uid()
    )
  );

CREATE POLICY "Users can update inspections they created or in their org" ON inspections
  FOR UPDATE USING (
    created_by = auth.uid() OR
    organization_id IN (
      SELECT organization_id FROM users 
      WHERE id = auth.uid()
    )
  );

-- Checklist templates policies
CREATE POLICY "Users can view public templates and their org templates" ON checklist_templates
  FOR SELECT USING (
    is_public = true OR
    organization_id IN (
      SELECT organization_id FROM users 
      WHERE id = auth.uid()
    ) OR
    created_by_user_id = auth.uid()
  );

CREATE POLICY "Users can create templates in their organization" ON checklist_templates
  FOR INSERT WITH CHECK (
    organization_id IN (
      SELECT organization_id FROM users 
      WHERE id = auth.uid()
    )
  );

-- Checklist fields policies
CREATE POLICY "Users can view fields of accessible templates" ON checklist_fields
  FOR SELECT USING (
    template_id IN (
      SELECT id FROM checklist_templates
      WHERE is_public = true OR
      organization_id IN (
        SELECT organization_id FROM users 
        WHERE id = auth.uid()
      )
    )
  );
